a {
    text-decoration: none;
}

.container {
    font-family: 'Rubik', Arial;
    font-weight: 300;
}

.ademafia-main {
    height: 300px;
    max-width: 100%;
    margin-top: 100px;
}

.ademafia-bg {
    background-image: url("https://kenner.vteximg.com.br/arquivos/01-banner-abandoned.png");
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 100% auto;
    height: 197px;
    width: 100%;
}

.ademafia-block {
    display: block !important;
}

.ademafia-avatar {
    float: left;
    margin: 0px 2% 0 3%;
    max-width: 100%;
    padding: 1px;
    vertical-align: bottom;
}

.ademafia-avatarImg {
    box-sizing: border-box;
    height: 320px;
    width: 320px;
}

.ademafia-contentbar {
    margin: -100px 0 0;
}

.ademafia-name {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}

.ademafia-kenner {
    float: left;
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 14px;
    font-style: normal;
    line-height: 24px;
    width: auto;
    margin-right: 3%;
}

.ademafia-kenner .texto-desktop {
    display: block;
    width: 382px;
}

.ademafia-kenner .texto-mobile {
    display: none;
}

.ademafia-kenner h3 {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    font-family: Rubik;
}

.ademafia-product {
    float: left;
    /* margin-left: 50px; */
    margin-left: 0px;
    width: 310px;
}

.ademafia-product-image {
    width: 300px;
}

.ademafia-attributes {
    float: left;
    margin-top: 50px;
    margin-left: 0;
    width: auto;
    z-index: 1;
}

.hot-list {
    display: none;
    font-size: 16px;
    line-height: 25px;
    margin: 10px 0;
    padding: 0;
    width: 300px;
}

.hot-list li {
    list-style: none;
    display: flex;
    line-height: 30px;
    margin: 10px 0;
}

.hot-list span.number {
    margin-right: 10px;
    background: #000;
    font-size: 14px;
    text-align: center;
    padding: 1px;
    color: #fff;
    min-width: 25px;
    max-width: 25px;
    min-height: 25px;
    max-height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 100%;
}

.act-btns {
    display: inline-block;
}

.act-fechar {
    display: none;
    margin-left: 0;
    color: #ff5c00;
    font-size: 14px;
    cursor: pointer;
    line-height: 25px;
}

.number-fechar {
    display: inline-block;
    color: #ff5c00;
    border: 1px solid #ff5c00;
    border-radius: 100%;
    text-align: center;
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin-right: 10px;
}

.act-abrir {
    margin-left: 40px;
    color: #ff5c00;
    font-size: 14px;
    cursor: pointer;
    line-height: 25px;
    margin-top: 200px;
}

.act-abrir-mobile {
    display: none;
    width: 100%;
    text-align: center;
    color: #ff5c00;
    font-size: 14px;
    cursor: pointer;
    line-height: 25px;
    margin-left: 20px;
    margin-top: 20px;
}

.act-fechar-mobile {
    display: none;
    /* margin-left: 40px; */
    color: #ff5c00;
    font-size: 14px;
    cursor: pointer;
    line-height: 25px;
}

.number-abrir {
    display: inline-block;
    color: #ff5c00;
    border: 1px solid #ff5c00;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin-right: 10px;
    font-weight: 300;
}

.price-item {
    width: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.btn-comprar a {
    color: #000;
    font-weight: 400;
    text-align: center;
}

.btn-comprar {
    text-align: center;
    background: #ff5c00;
    border-radius: 35px;
    line-height: 35px;
    margin-top: 20px;
    cursor: pointer;
}

.price-item .price-principal {
    display: inline-block;
    padding: 0;
    line-height: 25px;
    width: 200px;
}

.price-principal {
    justify-content: space-between;
    font-size: 16px;
}

.price-principal strong {
    font-weight: bold;
}

.price-principal h3 {
    font-size: 16px;
}

.ler {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    color: #ff5c00;
    cursor: pointer;
}

.ler-mobile {
    display: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 17px;
    color: #ff5c00;
    cursor: pointer;
}

.k__footer--newsLetter {
    position: initial !important;
    padding: 50px 10px;
}

.wrap {
    margin-top: 20px;
    clear: both;
}

@media (min-width: 1440px) {
    .act-abrir {
        margin-left: -100px;
    }

    .ademafia-avatar {
        margin-left: 3%;
    }

    .ademafia-product-image {
        width: 360px;
    }

    .ademafia-kenner .texto-desktop {
        /* width: 322px; */
    }
}

@media only screen and (max-width: 1440px) {
    .ademafia-attributes {
        float: left;
        margin-top: 10px;
        margin-left: 0px;
        width: auto;
        z-index: 1;
    }

    .act-abrir {
        margin-left: -100px;
    }

    .ademafia-img-low {
        width: 342px;
    }

    .ademafia-product-low {
        width: 342px;
    }

    .ademafia-kenner-low {
        width: 232px;
    }
}

@media (max-width: 1440px) and (min-width: 1280px) {
    .act-abrir {
        margin-left: -100px;
    }

}

@media (max-width: 1400px) and (min-width: 1280px) {
    .ademafia-1280 {
        float: left;
        margin-top: 10px;
        z-index: 1;
    }

    .ademafia-img-low img {
        width: 332px;
    }

    .ademafia-product-low {
        width: 310px;
        margin-right: 10px;
    }

    .ademafia-kenner-low {
        width: 232px;
    }

    .ademafia-kenner .texto-desktop {
        width: 382px;
    }

}

@media (min-width:1024px) and (max-width: 1279px) {
    .ademafia-main {
        margin-top: 40px;
    }

    .ademafia-bg {
        background-size: cover;
        overflow: hidden;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .ademafia-main {
        margin-top: 40px;
    }

    .ademafia-bg {
        background-size: cover;
        overflow: hidden;
    }

    .wrap {
        margin-top: 20px;
        clear: both;
    }
}

@media only screen and (max-width: 425px) {

    .list-mobile {
        display: block;
    }

    .ademafia-avatar {
        border: 1px solid #fff;
        width: 167px;
        height: 168px;
        overflow: hidden;
        background-image: url('https://kenner.vteximg.com.br/arquivos/ademafia-pb.png');
        background-position: top 0px left -50px;
        background-size: 270px;
    }

    .ademafia-avatar img {
        transform: translateX(-20%);
        display: none;
    }

    .ademafia-contentbar:before {
        content: 'Kenner + Ademafia';
        position: absolute;
        font-size: 21px;
        font-family: Rubik;
        font-weight: bold;
        color: #000;
        margin-top: 105px;
        text-transform: uppercase;
    }

    .ademafia-name {
        display: unset;
        width: 150px;
        margin-top: 0px;
    }

    .ademafia-name img {
        width: 80px;
        margin-top: 20px;
    }

    .ademafia-name img:last-child {
        width: 36px;
    }

    .ademafia-bg {
        background-image: url('https://kenner.vteximg.com.br/arquivos/influenciador_banner_m_ademafia.png');
        background-size: cover;
        overflow: hidden;
    }

    .ademafia-main {
        margin-top: 60px;
    }

    .ademafia-kenner {
        width: 70%;
        margin: 20px 20px !important;
        margin-left: 10px;
        font-size: 16px;
        text-overflow: ellipsis;
    }

    .ler-mobile {
        display: block;
        position: absolute;
        font-size: 16px;
        width: 165px;
        top: 310px;
        right: 47px;
    }

    .ademafia-kenner .texto-desktop {
        display: none;
    }

    .ademafia-kenner .texto-mobile {
        display: none;
        margin-top: 30px;
    }

    .ademafia-kenner .ler {
        display: none;
    }

    .ademafia-kenner h3 {
        display: none;
    }

    .ademafia-product {
        position: relative;
        width: 90%;
        margin: 0px 5%;
    }

    .ademafia-product img {
        width: 100%;
        cursor: pointer;
    }

    .act-abrir {
        display: none;
    }

    .ademafia-attributes {
        float: left;
        margin-top: 0px;
        margin-bottom: 50px;
        margin-left: 10px;
        width: 375px;
    }

    .act-abrir-mobile {
        display: block;
    }
}

@media (max-width: 424px) and (min-width: 375px) {

    .act-abrir-mobile {
        display: block;
    }

    .ademafia-bg {
        background-size: cover;
        overflow: hidden;
        height: 106px;
    }

    .ademafia-avatar {
        border: 1px solid #fff;
        width: 167px;
        height: 168px;
        overflow: hidden;
        margin-top: 35px;
        background-image: url('https://kenner.vteximg.com.br/arquivos/ademafia-pb.png');
        background-position: top 0px left -50px;
        background-size: 270px;
    }

    .ademafia-avatar img {
        transform: translateX(-20%);
        display: none;
    }

    .ademafia-contentbar:before {
        content: 'Kenner + Ademafia';
        position: absolute;
        font-size: 18px;
        font-family: Rubik;
        font-weight: bold;
        color: #000;
        margin-top: 135px;
        text-transform: uppercase;
    }

    .ademafia-name {
        display: unset;
        width: 150px;
        margin-top: 0px;
    }

    .ademafia-name img {
        width: 75px;
        margin-top: 50px;
    }

    .ademafia-name img:last-child {
        width: 30px;
    }

    .ademafia-kenner {
        width: 80%;
        margin: 20px 10% 0 !important;
        margin-left: 10px;
        font-size: 16px;
    }

    .ler-mobile {
        display: block;
        font-size: 16px;
        margin: 20px;
        position: absolute;
        top: 235px;
        right: 1vw;
        text-align: left;
        width: 160px;
    }

    .ademafia-kenner .texto-desktop {
        display: none;
    }

    .ademafia-kenner .texto-mobile {
        display: none;
    }

    .ademafia-kenner .ler {
        display: none;
    }

    .ademafia-kenner h3 {
        display: none;
    }

    .ademafia-product {
        position: relative;
        width: 90%;
        margin: 0 5%;
    }

    .ademafia-product img {
        width: 100%;
    }

    .act-abrir {
        width: 100%;
        text-align: center;
        color: #ff5c00;
        font-size: 14px;
        cursor: pointer;
        line-height: 25px;
        margin-top: 20px;
    }

    .wrap {
        margin-top: 20px;
        clear: both;
    }

    .price-item .price-principal {
        display: inline-block;
        padding: 0;
        line-height: 25px;
        width: 200px;
    }
}

@media (max-width: 360px) and (min-width: 320px) {
    .ler-mobile {
        right: -11vw;
    }

    .ademafia-name img {
        margin-top: 40px;
    }

    .ademafia-name {
        position: absolute;
    }

    .ademafia-name img:last-child {
        width: 40px;
    }

    .ler-mobile {
        font-size: 12px;
    }

    .ademafia-contentbar:before {
        font-size: 15px;
    }

    .ademafia-kenner .texto-mobile {
        margin-top: 0px;
    }

    .hot-list {
        font-size: 13px;
    }

    ol.hot-list {
        padding: 0;
    }
}