
a{
    text-decoration: none;
}
.container{
    font-family: 'Arial', Rubik;
    font-weight: 300;
}
.ademafia-main {
    height: 300px;
    max-width: 100%;    
}
.ademafia-bg {
    background-image: url("https://kenner.vteximg.com.br/arquivos/01-banner-abandoned.png");
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 100% auto;
    height: 197px;
    width: 100%;
}
.ademafia-block {
    display: block !important;
}
.ademafia-avatar {
    background-color: #fff;
/*     border-radius: 6px; */
    float: left;
    margin: 0px 20px 0 5%;
    max-width: 100%;
    padding: 1px;
    vertical-align: bottom;
}
.ademafia-avatarImg {
    /* border: 2px solid #fff; */
    /* border-radius: 7px; */
    box-sizing: border-box;
    color: #fff;
    height: 250px;
    width: 250px;
}
.ademafia-contentbar {
    margin: -100px 0 0;
}
.ademafia-name {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}
.ademafia-kenner{
    width: 200px;
    float: left;
    margin-bottom: 50px;
    font-size: 18px;
    font-style: normal;
    line-height: 28px;
}
.ademafia-kenner h3{    
    text-transform: uppercase;
    font-size: 24px;
    display: flex;
}
.ademafia-product{
    float: left;
    margin-left: 0%;
}
.ademafia-attributes{
    float: left;
    margin-top: 100px;
    margin-left: 0%;
}
.hot-list{
    display: none;
    font-size: 16px;
    line-height: 25px;
}
.hot-list li{
    list-style: none;
    display: flex;
    line-height: 30px;
}
.hot-list span.number{
    margin-right: 10px;
    background: #000;
    font-size: 14px;
    text-align: center;
    padding: 1px;
    color: #fff;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 100%;
}
.act-btns{
    display: inline-block;
}
.act-fechar{
    display: none;
    margin-left: 40px;
    color: #ff5c00;
    font-size: 14px;
    cursor:pointer;
    line-height: 25px;
}
.number-fechar{
    display: inline-block;
    color: #ff5c00;
    border: 1px solid #ff5c00;
    border-radius: 100%;
    text-align: center;
    width: 25px;        
    height: 25px;
    line-height: 25px;
    margin-right: 10px;
}
.act-abrir{
    margin-left: 40px;
    color: #ff5c00;
    font-size: 14px;
    cursor:pointer;
    line-height: 25px;
}
.number-abrir{
    display: inline-block;
    color: #ff5c00;
    border: 1px solid #ff5c00;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    width: 25px;        
    height: 25px;
    line-height: 25px;
    margin-right: 10px;
    font-weight: 300;
}


.ademafia-product{
/*     border: 1px solid */
}
.ademafia-product .price-item{
    margin-left: 50%;
    transform: translateX(-50%);    
}
.btn-comprar a{
    color: #000;
    font-weight: 400;
    text-align: center;
}
.btn-comprar{    
    text-align: center;
    background: #ff5c00;
    border-radius: 35px;
    line-height: 35px;
    margin-top: 20px;
}
.price-item{
/*     border: 1px solid; */
}
.price-item .price-principal{
    display: flex;
    padding-left: 15%;
    line-height: 25px;
}
.price-principal{
    justify-content: space-between;
    font-size: 16px;
}
.price-principal h3{    
    font-size: 16px;
}
.ler{
    font-weight: 400;
    text-transform: uppercase;
    font-size: 20px;
    color: #ff5c00;
    cursor: pointer;
}
