<form action="" class="form-revendedor">
    <div class="kenner__form--item cnpj">
        <label for="cnpj">CNPJ: *</label>
        <input type="text" placeholder="CNPJ" name="cnpj" required="true" maxlength="50" />
    </div>
    <div class="kenner__form--item razaoSocial">
        <label for="razaoSocial">Razão Social: *</label>
        <input type="text" placeholder="Razão Social" name="razaoSocial" required="true" maxlength="50" />
    </div>
    <div class="kenner__form--item nomeFantasia">
        <label for="nomeFantasia">Nome Fantasia: *</label>
        <input type="text" placeholder="Nome Fantasia" name="nomeFantasia" required="true" maxlength="50" />
    </div>
    <div class="kenner__form--item nomeDoContato">
        <label for="nomeDoContato">Nome do Contato: *</label>
        <input type="text" placeholder="Nome do Contato" name="nomeDoContato" required="true" maxlength="50" />
    </div>
    <div class="kenner__form--item email">
        <label for="email">E-mail: *</label>
        <input type="email" placeholder="Email" name="email" required="true" />
    </div>
    <div class="kenner__form--item endereco">
        <label for="endereco">Endereço: *</label>
        <input type="text" placeholder="Endereço" name="endereco" required="true" maxlength="50" />
    </div>
    <div class="kenner__form--item complemento">
        <label for="complemento">Complemento: *</label>
        <input type="text" placeholder="Complemento" name="complemento" required="true" maxlength="50" />
    </div>
    <div class="kenner__form--item bairro">
        <label for="bairro">Bairro: *</label>
        <input type="text" placeholder="Bairro" name="bairro" required="true" maxlength="50" />
    </div>
    <div class="kenner__form--item estado">
        <label for="estado">Estado: *</label>
        <select name="estado" required="true">
            <option value="">Estado</option>
            <option value="Acre">Acre</option>
            <option value="Alagoas">Alagoas</option>
            <option value="Amapá">Amapá</option>
            <option value="Amazonas">Amazonas</option>
            <option value="Bahia">Bahia</option>
            <option value="Ceará">Ceará</option>
            <option value="Distrito Federal">Distrito Federal</option>
            <option value="Espírito Santo">Espírito Santo</option>
            <option value="Goiás">Goiás</option>
            <option value="Maranhão">Maranhão</option>
            <option value="Mato Grosso">Mato Grosso</option>
            <option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
            <option value="Minas Gerais">Minas Gerais</option>
            <option value="Pará">Pará</option>
            <option value="Paraíba">Paraíba</option>
            <option value="Paraná">Paraná</option>
            <option value="Pernambuco">Pernambuco</option>
            <option value="Piauí">Piauí</option>
            <option value="Rio de Janeiro">Rio de Janeiro</option>
            <option value="Rio Grande do Norte">Rio Grande do Norte</option>
            <option value="Rio Grande do Sul">Rio Grande do Sul</option>
            <option value="Rondônia">Rondônia</option>
            <option value="Roraima">Roraima</option>
            <option value="Santa Catarina">Santa Catarina</option>
            <option value="São Paulo">São Paulo</option>
            <option value="Sergipe">Sergipe</option>
            <option value="Tocantins">Tocantins</option>
        </select>
    </div>
    <div class="kenner__form--item cidade">
        <label for="cidade">Cidade: *</label>
        <input type="text" placeholder="Cidade" name="cidade" required="true" maxlength="50" />
    </div>
    <div class="kenner__form--item telefone">
        <label for="telefone">Telefone: *</label>
        <input type="text" placeholder="Telefone" name="telefone" required="true" maxlength="50" />
    </div>
    <div class="kenner__form--item quantasLojasPossui">
        <label for="quantasLojasPossui">Quantas lojas possui: *</label>
        <input type="number" placeholder="Quantas lojas possui" name="quantasLojasPossui" min="1" required="true" />
    </div>


    <input type="submit" value="Enviar">
</form>
<p class="item-observation">Para ser nosso revendedor autorizado, você precisa possuir pelo menos 1(uma) loja física e
    um ano de inscrição no CNPJ. Caso possua, preencha o formulário que a área Comercial entrará em contato.</p>