a {
    text-decoration: none;
}

.container {
    font-family: 'Rubik', Arial;
    font-weight: 300;
}

.influenciador-main {
    height: 300px;
    max-width: 100%;
    margin-top: 100px;
}

.influenciador-bg {
    background-image: url("https://kenner.vteximg.com.br/arquivos/influenciador_banner_bk.png");
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 100% auto;
    height: 197px;
    width: 100%;
}

.influenciador-block {
    display: block !important;
}

.influenciador-avatar {
    float: left;
    margin: 0px 2% 0 3%;
    max-width: 100%;
    padding: 1px;
    vertical-align: bottom;
}

.influenciador-avatarImg {
    box-sizing: border-box;
    height: 320px;
    width: 320px;
}

.influenciador-contentbar {
    margin: -100px 0 0;
}

.influenciador-name {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}

.influenciador-kenner {
    float: left;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 14px;
    font-style: normal;
    line-height: 24px;
}

.influenciador-kenner .texto-desktop {
    display: block;
    width: 382px;
}

.influenciador-kenner .texto-mobile {
    display: none;
}

.influenciador-kenner h3 {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    font-family: Rubik;
}

.influenciador-product {
    float: left;
    margin-left: 3%;
    width: 342px;
    margin-top: -70px;
}

.influenciador-product-image {
    width: 360px;
}

.influenciador-attributes {
    float: left;
    margin-top: 50px;
    margin-left: 0;
    width: auto;
    z-index: 1;
}

.hot-list {
    display: none;
    font-size: 15px;
    line-height: 25px;
}

.hot-list li {
    list-style: none;
    display: flex;
    line-height: 30px;
    margin-top: 5px;
}

.hot-list span.number {
    margin-right: 10px;
    background: #F00;
    font-size: 14px;
    text-align: center;
    padding: 1px;
    color: #fff;
    min-width: 25px;
    max-width: 25px;
    min-height: 25px;
    max-height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 100%;
}

.act-btns {
    display: inline-block;
}

.act-fechar {
    display: none;
    margin-left: 40px;
    color: #ff5c00;
    font-size: 14px;
    cursor: pointer;
    line-height: 25px;
}

.number-fechar {
    display: inline-block;
    color: #ff5c00;
    border: 1px solid #ff5c00;
    border-radius: 100%;
    text-align: center;
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin-right: 10px;
}

.act-abrir {
    margin-left: 40px;
    color: #ff5c00;
    font-size: 14px;
    cursor: pointer;
    line-height: 25px;
    margin-top: 200px;
}

.act-abrir-mobile {
    display: none;
    width: 100%;
    text-align: center;
    color: #ff5c00;
    font-size: 14px;
    cursor: pointer;
    line-height: 25px;
    margin-left: 20px;
    margin-top: 20px;
}

.act-fechar-mobile {
    display: none;
    margin-left: 5px;
    color: #ff5c00;
    font-size: 14px;
    cursor: pointer;
    line-height: 25px;
}

.number-abrir {
    display: inline-block;
    color: #ff5c00;
    border: 1px solid #ff5c00;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin-right: 10px;
    font-weight: 300;
}

.price-item {
    width: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.btn-comprar a {
    color: #000;
    font-weight: 400;
    text-align: center;
}

.btn-comprar {
    text-align: center;
    background: #ff5c00;
    border-radius: 35px;
    line-height: 35px;
    margin-top: 20px;
    cursor: pointer;
}

.price-item .price-principal {
    display: inline-block;
    padding: 0;
    line-height: 25px;
    width: 200px;
}

.price-principal {
    justify-content: space-between;
    font-size: 16px;
}

.price-principal strong {
    font-weight: bold;
}

.price-principal h3 {
    font-size: 16px;
}

.ler {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    color: #ff5c00;
    cursor: pointer;
}

.ler-mobile {
    display: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 17px;
    color: #ff5c00;
    cursor: pointer;
}

.k__footer--newsLetter {
    position: initial !important;
    padding: 50px 10px;
}

.wrap {
    margin-top: 20px;
    clear: both;
}

@media (min-width: 1850px) {
    .act-abrir {
        margin-left: -100px;
    }

    .influenciador-avatar {
        margin-left: 5%;
    }

    .influenciador-product-image {
        width: 390px;
    }

    .influenciador-product {
        margin-left: 90px;
    }

    .influenciador-kenner .texto-desktop {
        width: 762px;
    }

    .influenciador-kenner {
        font-size: 18px;
        margin-left: 30px;
    }

    .influenciador-name img {
        margin-left: 30px;
    }
}

@media (min-width: 1600px) and (max-width: 1849px) {
    .act-abrir {
        margin-left: -100px;
    }

    .influenciador-avatar {
        margin-left: 5%;
    }

    .influenciador-product-image {
        width: 390px;
    }

    .influenciador-product {
        margin-left: 90px;
    }

    .influenciador-kenner .texto-desktop {
        width: 522px;
    }

    .influenciador-kenner {
        font-size: 16px;
        margin-left: 30px;
    }

    .influenciador-name img {
        margin-left: 30px;
    }
}

@media (min-width: 1440px) and (max-width:1599px) {
    .act-abrir {
        margin-left: -100px;
    }

    .influenciador-avatar {
        margin-left: 5%;
    }

    .influenciador-product-image {
        width: 320px;
    }

    .influenciador-kenner .texto-desktop {
        width: 462px;
    }

    .influenciador-kenner {
        font-size: 16px;
        margin-left: 30px;
    }

    .influenciador-name img {
        margin-left: 30px;
    }
}

@media only screen and (max-width: 1440px) {
    .influenciador-attributes {
        float: left;
        margin-top: 50px;
        margin-right: 40px;
        width: auto;
        z-index: 1;
    }

    .act-abrir {
        margin-left: -200px;
    }

    .influenciador-img-low {
        width: 332px;
    }

    .influenciador-product-low {
        width: 332px;
    }

    .influenciador-kenner-low {
        width: 232px;
    }
}

@media (min-width:768px) and (max-width: 900px) {
    .influenciador-attributes {
        float: left;
        margin-top: 10px;
        width: auto;
        z-index: 1;
    }

    .influenciador-kenner .texto-desktop {
        display: block;
        width: 362px;
    }

    .influenciador-kenner {
        margin-top: 0px;
    }

    .act-abrir {
        margin-left: -100px;
    }

    .act-fechar {
        margin-left: 0;
    }

    .influenciador-product {
        margin-top: -20px;
        margin-left: 150px;
        width: 350px;
    }

    .influenciador-img-low {
        width: 350px;
    }

    .influenciador-product-low {
        width: 295px;
    }

    .influenciador-kenner-low {
        width: 350px;
    }

    .influenciador-product-image {
        width: 350px;
    }

    .influenciador-main {
        margin-top: 40px;
    }

    .influenciador-bg {
        background-size: cover;
        overflow: hidden;
    }

    .influenciador-attributes {
        margin-left: 35px;
    }
}

@media only screen and (max-width: 768px) {
    .act-abrir {
        margin-left: -90px;
    }
}

@media (max-width: 1440px) and (min-width: 1280px) {
    .act-abrir {
        margin-left: -120px;
        margin-top: 140px;
    }

}

@media (max-width: 1400px) and (min-width: 1280px) {
    .act-abrir {
        margin-left: -120px;
        margin-top: 180px;
    }

    .influenciador-1280 {
        float: right;
        width: 300px;
        margin-top: -10px;
        z-index: 1;
    }

    .influenciador-1280 .act-abrir {
        margin-top: 130px;
        margin-left: 30px;
    }

    .influenciador-1280 .hot-list {
        padding: 0px;
    }

    .influenciador-1280 .hot-list li {
        margin-top: 10px;
    }

    .influenciador-1280 .act-fechar {
        margin: 0px;
    }

    .influenciador-img-low img {
        width: 240px;
    }

    .influenciador-product-low {
        width: 240px;
    }

    .influenciador-kenner-low {
        width: 232px;
    }

    .influenciador-kenner .texto-desktop {
        width: 262px;
    }

}

@media(min-width:1244px) and (max-width:1279px) {
    .act-abrir {
        margin-left: -190px;
    }

}

@media (min-width: 426px) and (max-width: 768px) {
    .influenciador-main {
        margin-top: 40px;
    }

    .influenciador-bg {
        background-size: cover;
        overflow: hidden;
    }

    .wrap {
        margin-top: 20px;
        clear: both;
    }

    ol.hot-list {
        padding: 0;
    }
}

@media only screen and (max-width: 425px) {

    .list-mobile {
        display: block;
    }

    .influenciador-avatar {
        border: 1px solid #fff;
        width: 167px;
        height: 168px;
        overflow: hidden;
        background-image: url('https://kenner.vteximg.com.br/arquivos/influenciador_avatar_bk.png');
        background-position: top -40px left -50px;
        background-size: 270px;
    }

    .influenciador-avatar img {
        transform: translateX(-20%);
        display: none;
    }

    .influenciador-contentbar:before {
        content: 'Kenner + BK';
        position: absolute;
        font-size: 21px;
        font-family: Rubik;
        font-weight: bold;
        color: #000;
        margin-top: 125px;
        text-transform: uppercase;
    }

    .influenciador-name {
        display: unset;
        width: 150px;
        margin-top: 0px;
    }

    .influenciador-name img {
        width: 110px;
        margin-top: 20px;
    }

    .influenciador-name img:last-child {
        width: 133px;
    }

    .influenciador-bg {
        background-image: url('https://kenner.vteximg.com.br/arquivos/influenciador_banner_m_bk.png');
        background-size: cover;
        overflow: hidden;
    }

    .influenciador-main {
        margin-top: 60px;
    }

    .influenciador-kenner {
        width: 70%;
        margin: 20px 20px !important;
        margin-left: 10px;
        font-size: 16px;
        text-overflow: ellipsis;
    }

    .ler-mobile {
        display: block;
        position: absolute;
        font-size: 16px;
        width: 165px;
        top: 310px;
        right: 47px;
    }

    .influenciador-kenner .texto-desktop {
        display: none;
    }

    .influenciador-kenner .texto-mobile {
        display: none;
        margin-top: 30px;
    }

    .influenciador-kenner .ler {
        display: none;
    }

    .influenciador-kenner h3 {
        display: none;
    }

    .influenciador-product {
        position: relative;
        width: 90%;
        margin: 0px 5%;
    }

    .influenciador-product img {
        width: 100%;
        cursor: pointer;
    }

    .act-abrir {
        display: none;
    }

    .influenciador-attributes {
        float: left;
        margin-top: 0px;
        margin-bottom: 50px;
        margin-left: 10px;
        width: 375px;
    }

    .act-abrir-mobile {
        display: block;
    }

    ol.hot-list {
        padding: 0;
    }
}

@media (max-width: 424px) and (min-width: 375px) {
    .act-abrir-mobile {
        display: block;
    }

    .influenciador-bg {
        background-size: cover;
        overflow: hidden;
        height: 106px;
    }

    .influenciador-avatar {
        border: 1px solid #fff;
        width: 167px;
        height: 168px;
        overflow: hidden;
        margin-top: 35px;
        margin: 35px 4%;
        background-image: url('https://kenner.vteximg.com.br/arquivos/influenciador_avatar_bk.png');
        background-position: top -40px left -50px;
        background-size: 270px;
    }

    .influenciador-avatar img {
        transform: translateX(-20%);
        display: none;
    }

    .influenciador-contentbar:before {
        content: 'Kenner + BK';
        position: absolute;
        font-size: 18px;
        font-family: Rubik;
        font-weight: bold;
        color: #000;
        margin-top: 140px;
        text-transform: uppercase;
        margin-left: 5%;
    }

    .influenciador-name {
        display: unset;
        width: 150px;
        margin-top: 0px;
        margin-left: 5%;
    }

    .influenciador-name img {
        width: 75px;
        margin-top: 50px;
    }

    .influenciador-name img:last-child {
        max-width: 120px;
    }

    .influenciador-kenner {
        width: 80%;
        margin: 20px 10% 0 !important;
        margin-left: 10px;
        font-size: 16px;
    }

    .ler-mobile {
        display: block;
        font-size: 16px;
        margin: 20px;
        position: absolute;
        top: 215px;
        right: -15px;
        text-align: left;
        width: 160px;
    }

    .influenciador-kenner .texto-desktop {
        display: none;
    }

    .influenciador-kenner .texto-mobile {
        display: none;
    }

    .influenciador-kenner .ler {
        display: none;
    }

    .influenciador-kenner h3 {
        display: none;
    }

    .influenciador-product {
        position: relative;
        width: 90%;
        margin: 0 5%;
    }

    .influenciador-product img {
        width: 100%;
    }

    .act-abrir {
        width: 100%;
        text-align: center;
        color: #ff5c00;
        font-size: 14px;
        cursor: pointer;
        line-height: 25px;
        margin-top: 20px;
    }

    .wrap {
        margin-top: 20px;
        clear: both;
    }

    .price-item .price-principal {
        display: inline-block;
        padding: 0;
        line-height: 25px;
        width: 200px;
    }

    ol.hot-list {
        padding: 0;
    }

    .act-fechar-mobile {
        margin-left: 0px;
    }
}

@media (max-width: 360px) and (min-width: 320px) {
    .ler-mobile {
        right: -52px;
    }

    .influenciador-name img {
        margin-top: 40px;
    }

    .influenciador-name {
        position: absolute;
    }

    .influenciador-name img:last-child {
        width: 100px;
    }

    .ler-mobile {
        font-size: 12px;
    }

    .influenciador-contentbar:before {
        font-size: 15px;
    }

    .influenciador-kenner .texto-mobile {
        margin-top: 0px;
    }

    .hot-list {
        font-size: 13px;
    }

    .act-fechar-mobile {
        margin-left: 0px;
    }
}