<div class="kenner__header--navigator--content">
    <div class="kenner__header--item" role="menubar">
        <a role="menuitem" href="/k/masculino" itemprop="url" title="Masculino">Masculino</a>
    </div>

    <div class="kenner__header--item" role="menubar">
        <a role="menuitem" href="/k/feminino" itemprop="url" title="Feminino">Feminino</a>
    </div>

    <div class="kenner__header--item" role="menubar">
        <a role="menuitem" href="/k/infantil?PS=12&O=OrderByNameASC" itemprop="url" title="Infantil">Infantil</a>
    </div>

    <div class="kenner__header--item" role="menubar">
        <a role="menuitem" href="/groove-personalizada/p" itemprop="url" title="Crie sua Kenner">CRIE SUA KENNER</a>
    </div>

   
    <div class="kenner__header--item" role="menubar">
        <a role="menuitem" href="/exclusivos" itemprop="url" title="EXCLUSIVOS">EXCLUSIVOS</a>
    </div>

    <div class="kenner__header--item" role="menubar">
        <a role="menuitem" href="/off" itemprop="url" title="OFF">OFF</a>
    </div>

    <div class="kenner__header--item has-sub-js" role="menubar">
        <a role="menuitem" href="/lancamentos" itemprop="url" title="LANÇAMENTOS" class="icon-arrow-menu">LANÇAMENTOS</a>
        <div class="kenner__header--item-sub">
            <a role="menuitem" href="/novidades/nk6" itemprop="url" title="NK6">NK6</a>
            <a role="menuitem" href="/novidades/rock-in-rio" itemprop="url" title="Rock In Rio">Rock In Rio</a>
            <a role="menuitem" href="/novidades/groove" itemprop="url" title="Groove">Groove</a>
            <a role="menuitem" href="/embaixadores/marcelo-m12" itemprop="url" title="M12">M12</a>
            <a role="menuitem" href="/novidades" itemprop="url" title="Ver Todos">Ver Todos</a>
        </div>
    </div>

    <div class="kenner__header--item has-sub-js" role="menubar">
        <a role="menuitem" href="/parcerias" itemprop="url" title="COLLABS" class="icon-arrow-menu">COLLABS</a>
        <div class="kenner__header--item-sub">
            <a role="menuitem" href="/parcerias/cantao" itemprop="url" title="Ã Urban Shop">Cantão</a>
            <a role="menuitem" href="/parcerias/a-urban-shop" itemprop="url" title="Ã Urban Shop">Ã Urban Shop</a>
        </div>
    </div>

    <div class="kenner__header--item has-sub-js" role="menubar">
        <a role="menuitem" href="/institucional" itemprop="url" title="CONTATO" class="icon-arrow-menu">CONTATO</a>
        <div class="kenner__header--item-sub">
            <a role="menuitem" href="/institucional/politicas-de-uso" itemprop="url" title="Troca">Troca</a>
            <a role="menuitem" href="/institucional/politicas-de-uso" itemprop="url" title="Devolução">Devolução</a>
            <a role="menuitem" href="/institucional#fale-conosco" itemprop="url" title="Fale Conosco">Fale Conosco</a>
            <a role="menuitem" href="/institucional/nossas-lojas" itemprop="url" title="Nossas Lojas">Nossas Lojas</a>
            <a role="menuitem" href="/selo-de-garantia" itemprop="url" title="Selo de Garantia">Selo de Garantia</a>
            
        </div>
    </div>
</div>