<div class="k__footer--navigator--content">
    <div class="k__footer--navigator--item" role="menubar">
        <a role="menuitem" href="/institucional/sobre" itemprop="url" title="A MARCA" class="icon-arrow-menu">A MARCA</a>
        <div class="k__footer--navigator--item-sub">
            <a role="menuitem" href="/institucional/sobre" itemprop="url" title="SOBRE A KENNER">Sobre a
                Kenner</a>
            <a role="menuitem" href="/institucional/nossas-lojas" itemprop="url"
            title="NOSSAS LOJAS">Nossas Lojas</a>
            <a role="menuitem" href="/embaixadores" itemprop="url"
                title="EMBAIXADORES ">Embaixadores</a>
            <!-- <a role="menuitem" href="/campanhas" itemprop="url" title="CAMPANHAS">Campanhas</a> -->
        </div>
    </div>

    <div class="k__footer--navigator--item" role="menubar">
        <a role="menuitem" href="/institucional#fale-conosco" itemprop="url" title="ATENDIMENTO"
            class="icon-arrow-menu">ATENDIMENTO</a>
        <div class="k__footer--navigator--item-sub">
            <a role="menuitem" href="/institucional#perguntas-frequentes" itemprop="url" title="Perguntas Frequentes">Perguntas Frequentes</a>
            <a role="menuitem" href="/institucional#fale-conosco" itemprop="url"
                title="FALE CONOSCO">Fale Conosco</a>
            <a role="menuitem" href="/institucional#trabalhe-conosco" itemprop="url"
                title="TRABALHE CONOSCO">Trabalhe Conosco</a>
            <a role="menuitem" href="/institucional#ser-revendedor" itemprop="url" title="SEJA UM REVENDEDOR">Seja um Revendedor</a>
        </div>
    </div>

    <div class="k__footer--navigator--item" role="menubar">
        <a role="menuitem" href="/institucional#fale-conosco" itemprop="url" title="SUPORTE"
            class="icon-arrow-menu">SUPORTE</a>
        <div class="k__footer--navigator--item-sub">
            <a role="menuitem" href="/institucional/politicas-de-uso" itemprop="url"
                title="TROCA">Troca</a>
            <a role="menuitem" href="/institucional/politicas-de-uso" itemprop="url"
                title="DEVOLUÇÃO">Devolução</a>
            <a role="menuitem" href="/selo-de-garantia" itemprop="url"
                title="SELO DE GARANTIA">Selo de Garantia</a>
            <a role="menuitem" href="/institucional/politicas-de-uso" itemprop="url"
                title="POLÍTICAS DO SITE">Políticas do Site</a>
            <a role="menuitem" href="/institucional/manual-conservacao" itemprop="url"
                title="MANUAL DE CONSERVAÇÃO KENNER">Manual de Conservação</a>
            <!-- <a role="menuitem" href="" itemprop="url" title="DESCUBRA O SEU TAMANHO">Descubra o seu tamanho</a> -->
        </div>
    </div>
</div>