<div class="k__home--banner--content">
    <div class="counter">
        <div class="group-timer">
            <div class="timer-day">00 :</div>
            <span>DIAS</span>
        </div>
        <div class="group-timer">
            <div class="timer-hour">00 :</div>
            <span>HORAS</span> 
        </div>
        <div class="group-timer">
            <div class="timer-minute">00 :</div>
            <span>MINUTOS</span> 
        </div>
        <div class="group-timer">
            <div class="timer-seconds">00 :</div>
            <span>SEGUNDOS</span>
        </div>
    </div>
</div>