@font-face {
    font-family: 'Margem Bold Italic';
    src: url('Margem-BoldItalic.otf.css');
    /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Margem Italic';
    src: url('Margem-Italic.otf.css');
    /* IE9 Compat Modes */
}

#stopwatch .k__home--stopwatch--content {
    font-family: 'Margem Bold Italic';
    color: #fff;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    /* height: 64%; */
    padding: 0;
    position: absolute;
    top: calc(28% + 1vw);
}

#stopwatch .counter  {
    margin-left: 2%;
}

#stopwatch .counter .group-timer {
    display: inline-block;
    white-space: nowrap;
}

#stopwatch .counter .group-timer>div {
    display: inline-block;
    font-size: calc(4rem + 4vw);
    letter-spacing: 0;
    line-height: 1;
    min-width: 50px;
    margin: 0 auto;
}

@media screen and (max-width: 1367px){
    #stopwatch .counter .group-timer>div {        
        font-size: calc(3.2rem + 3.2vw);
    }
}


#stopwatch .counter .group-timer>span {
    font-family: 'Margem Italic';
    display: block;
    max-width: 420px;
    margin: 0 auto;
    font-size: 100%;
    letter-spacing: 2px;
    display: flex;
}

#stopwatch .counter .group-timer span {
    margin: 0 2.5vw;
}

#stopwatch .counter .group-timer span:first-child {
    margin-left: 10px;
}


@media screen and (max-width: 1024px) {

    #stopwatch .k__home--stopwatch--content {
        top: calc(16% + 4vw);
    }

    #stopwatch .counter {
        margin-left: 5%;
    }

    #stopwatch .counter .group-timer>div {
        /* font-size: 6vw; */
        font-size: calc(1.4rem + 3.4vw);
    }

    #stopwatch .counter .group-timer>span {
        /* margin: 0 3vw; */
        /* margin-left: 2px; */
        display: block;
        text-align: left;
        margin: 0px 0;
        padding-left: 2px;
        font-size: 0.5rem;
    }

    #stopwatch .counter .group-timer>div {
        max-width: 50vw;
    }

    #stopwatch .counter .group-timer .timer-seconds {
        /* margin-right: 25px; */
    }
}