@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900&display=swap');

:root{
    --mainFont: font-family: 'Rubik', sans-serif;
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;    
}


body * {
    box-sizing: border-box;
    font-family: var(--mainFont);
}


main.k__onde-comprar {
    overflow: hidden;
    max-height: 737px;
}

#k__map_stores {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-height: 740px;
    top: 0;
    left: 0;
    display: block;
}

/*Elements to Hide in map*/
/* .gmnoprint,
.gm-control-active {
    display: none;
} */



section.k__onde-comprar-bar,
section.k__onde-comprar-content {
    float: left;
    position: relative;
    /*height: 100%;*/
    height: 737px;
    max-height: 737px;
    /* padding-bottom: 51.2%; */
    z-index: 2;
}

section.k__onde-comprar-bar {
    width: 28%;
    /* min-width: 320px; */
    color: #fff;
    background: #000;
    overflow: hidden;
}

section.k__onde-comprar-content {
    float: left;
    width: 72%;
    /* max-width: 1440px; */
}

.k__onde-comprar-menu {
    height: 100%;
    padding-bottom: 100%;
}

.k__onde-comprar-menu h1 {
    font-size: 24px;
    text-transform: uppercase;
}

.k__onde-comprar-menu h1 span {
    margin-top: 13px;
    font-weight: 300;
    font-size: 18px;
    text-transform: initial;
    display: block;
}


.k__onde-comprar-search,
.k__onde-comprar-search input {
    max-width: 260px;
    width: 100%;
    height: 40px;
    background: #fff;
    border-radius: 100px;
    border: none;
    margin: 0 0 40px;
    position: relative;
}

.k__onde-comprar-search input {
    padding: 0 30px 0 15px;
    position: relative;
}

.k__onde-comprar-search .k__onde-comprar-search-icon {
    background-position: 0 -1579px;
    height: 20px;
    width: 20px;
    background-image: url(icons-s679911c6c9.png);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    position: absolute;
    display: block;
    right: 10px;
    top: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.k__onde-comprar-menu {
    /* margin: 0 59px 0 51px; */
    padding: 0 1.7vw 100% 1.7vw;
    overflow-y: auto;
    min-height: 80vh;
}

.k__onde-comprar-menu > .search-info {
    display: none;
    overflow: auto;
    line-height: 1.5;
    border: 1px solid #212121;
    border-width: 1px 0 1px 0;
    width: 32vw;
    padding: 10px 1vw 10px 6vw;
    margin-left: -5.6vw;
}

.k__onde-comprar-menu #result {
    overflow: auto;
    max-height: 500px;
    width: 29vw;
    margin: 0 -3vw;
}


.k__onde-comprar-menu #result .store .store-accordion{
    transition: 1s;
    overflow: auto;
}


.k__onde-comprar-menu #result .store {
    cursor: pointer;
    /* padding: 10px 8.7% 15px 6.7%; */
    border: 1px solid #212121;
    border-width: 1px 0 1px 0;
    padding: 0 4.7% 10px 11.7%;
    overflow: hidden;
    height: 65px;
    max-height: initial;
    transition: 1s;
}


.k__onde-comprar-menu #result .store.active {
    background: linear-gradient(90.59deg, #FF5100 -0.28%, #FFB800 96.53%);
    transition: 1s;
    max-height: 500px;
    height: auto;
    overflow: auto;
}

.k__onde-comprar-menu #result .store.active .store-title{
    font-size: 14px;
    font-weight: 400;
}

.k__onde-comprar-menu #result .store.active .store-title .store-type{
    font-size: 13px;
    font-weight: 300;
}

.k__onde-comprar-menu #result .store.active .store-title,
.k__onde-comprar-menu #result .store.active .store-title .store-type{
    color: #ffffff;
    transition: 1s;
}

.k__onde-comprar-menu #result .store.active .store-accordion{
    /* display: block; */
    transition: 1s;
    font-size: 13px;
    font-weight: 300;
}


.k__onde-comprar-warning {
    position: absolute;
    height: 30px;
    line-height: 30px;
    bottom: 28px;
    right: 60px;
    border: 2px solid #FF5100;
    border-radius: 100px;
    color: #FF5100;
    background: #F4F4F4;
    font-weight: 300;
    font-size: 13px;
    padding: 0 25px;
    z-index: 5;
    cursor: pointer;
    display: block;
}

.k__onde-comprar-warning:before {
    content: "";
    display: inline-block;
    margin: -3px 14px -3px 0;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml, %3Csvg width='19' height='17' viewBox='0 0 19 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%5C/ %3Cpath d='M11.1925 1.83536C10.518 0.654977 8.91601 0.654977 8.2415 1.83536L1.07488 14.8196C0.821945 15.4098 1.24352 16 1.83371 16H17.6846C18.2748 16 18.6963 15.3255 18.4434 14.8196L11.1925 1.83536Z' stroke='%23FF5100' stroke-width='0.84' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%5C %3Cpath d='M9.75879 5.03927V11.7843' stroke='%23FF5100' stroke-width='0.84' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%5C %3Cpath d='M9.75946 13.8921C9.99228 13.8921 10.181 13.7034 10.181 13.4706C10.181 13.2378 9.99228 13.049 9.75946 13.049C9.52663 13.049 9.33789 13.2378 9.33789 13.4706C9.33789 13.7034 9.52663 13.8921 9.75946 13.8921Z' fill='%23979797'/%3E%5C %3C/svg%3E");
}

.store-title {
    font-size: 14px;
    font-weight: 300;
    color: #ea4e07;
    margin-bottom: 0;
}

.store-title .store-type {
    display: block;
    width: 100%;
    color: #6E6E6E;
    font-size: 12px;
}

.store-title .store-sub-title {
    font-size: 13px;
    color: #ddd;
}

.store-not-found {
    display: none;
    margin: 20px auto;
}

.store-not-found svg {
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

.search-info > span {
    display: block;
    float: left;
}

.search-info .search-info-result {
    width: 56%;
    font-size: 13px;
}

.search-info .search-info-result strong {
    font-weight: 600;
}

.search-info > .search-info-num {
    /* width: 38%; */
    display: block;
    padding: 2px 10px;
    text-align: center;
    background: #FFB800;
    max-width: 110px;
    color: #000;
    font-weight: 300;
    margin-left: 4%;
    white-space: nowrap;
}

.search-info .see-in {
    display: none;
}


/*Mobile*/
@media screen and (max-width: 768px){
    section.k__onde-comprar-bar {
        width: 100%;
        position: relative;
        z-index: 10;
        padding: 0;
    }

    .k__onde-comprar-menu > .search-info {
        width: 100vw;
        padding: 15px 20px 15px 20px;
        margin-left: -4.5vw;
        float: left;
        border-width: 0;
        background: #F8F8F8;
        color: #000;
        font-weight: 300;
        font-size: 13px;
    }

    .k__onde-comprar-search, .k__onde-comprar-search input {
        max-width: unset;
        padding: 0 10px 0 10px;
        margin: 0 0 20px;
    }

    section.k__onde-comprar-bar, section.k__onde-comprar-content {
        float: left;
        height: auto;
        padding-bottom: 0;
    }

    .k__onde-comprar-menu {
        min-height: auto;
        padding: 0 20px;
    }

    section.k__onde-comprar-content {
        float: none;
        width: 100%;
    }

    .k__onde-comprar-menu #result {
        /* max-height: 500px; */
        width: 100vw;
        margin: 0 -4.5vw;
    }

    .k__onde-comprar-menu #result .store {
        position: relative;
        height: 65px;
        padding: 0px 4.7% 10px 4.7%;
        margin: -1px 0 0 0;
    }

    .search-info .see-in.mobile {
        display: block;
        float: right;
        height: 42px;
        max-width: 110px;
        max-height: 140px;
        font-size: 12px;
    }
    .search-info .see-in.mobile svg {
        display: block;
        margin-right: 7px;
        height: 40px;
        /* padding-bottom: 100%; */
        float: left;
    }

    .search-info .see-in.mobile span {
        color: #FF5100;
        font-weight: 300;
        font-size: 13px;
        line-height: 1;
        width: 100px;
    }

    .search-info > .search-info-num {
        margin-top: 10px;
        float: right;
        margin-left: 0%;
    }

    .search-info .search-info-result {
        width: 70%;
    }

    .k__onde-comprar-menu #result .store:before {
        display: block;
        content: '';
        background-position: 0 -421px;
        background-image: url(icons-s679911c6c9.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 10px;
        width: 19px;
        margin-left: 10px;
        transition: all .4s;
        position: absolute;
        z-index: 20;
        right: 0px;
    }

    .k__onde-comprar-menu #result .store.active:before {
        transform: roate(180deg);
    }
}