@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900&display=swap');

@font-face {
    font-family: 'Margem Rounded';
    src: url('MargemRounded-Medium.eot.css');
    src: local('Margem Rounded Medium'), local('MargemRounded-Medium'),
        url('MargemRounded-Medium.eot.css?#iefix') format('embedded-opentype'),
        url('MargemRounded-Medium.woff2.css') format('woff2'),
        url('MargemRounded-Medium.woff.css') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Margem Rounded';
    src: url('MargemRounded-MediumItalic.eot.css');
    src: local('Margem Rounded Medium Italic'), local('MargemRounded-MediumItalic'),
        url('MargemRounded-MediumItalic.eot.css?#iefix') format('embedded-opentype'),
        url('MargemRounded-MediumItalic.woff2.css') format('woff2'),
        url('MargemRounded-MediumItalic.woff.css') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Margem';
    src: url('Margem-MediumItalic.eot');
    src: local('Margem Medium Italic'), local('Margem-MediumItalic'),
        url('Margem-MediumItalic.eot.css?#iefix') format('embedded-opentype'),
        url('Margem-MediumItalic.woff2.css') format('woff2'),
        url('Margem-MediumItalic.woff.css') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Margem';
    src: url('Margem-Medium.eot');
    src: local('Margem Medium'), local('Margem-Medium'),
        url('Margem-Medium.eot.css?#iefix') format('embedded-opentype'),
        url('Margem-Medium.woff2.css') format('woff2'),
        url('Margem-Medium.woff.css') format('woff');
    font-weight: 500;
    font-style: normal;
}





:root {
    --mainFont: font-family: 'Rubik', sans-serif;
}


html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}


body * {
    box-sizing: border-box;
    font-family: var(--mainFont);
}

/*Loader*/
.onde-comprar .lds-ripple {
    display: none;
    position: absolute;
    top: 40%;
    right: 0;
    left: calc(200px + 20%);
    margin: 0 auto;
    z-index: 500;
}

.onde-comprar .lds-ripple {
    width: 100px;
    height: 100px;
    -webkit-transform: none;
    transform: none;
}

.onde-comprar .lds-ripple div {
    position: absolute;
    border: 4px solid #d9b6a6;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.onde-comprar .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}


@keyframes lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}



main.k__onde-comprar {
    position: relative;
    overflow: hidden;
    min-height: 70vh;
    max-height: 737px;
}

#k__map_stores {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-height: 740px;
    top: 0;
    left: 0;
    display: block;
}

/*Elements tha customer may want to hide in map*/
/* .gmnoprint,
.gm-control-active {
    display: none;
} */



section.k__onde-comprar-bar,
section.k__onde-comprar-content {
    float: left;
    position: relative;
    height: 737px;
    max-height: 737px;
    z-index: 2;
}

section.k__onde-comprar-bar {
    width: 30%;
    color: #fff;
    background: #000;
    background: rgba(0, 0, 0, .90);
    backdrop-filter: blur(3px);
    overflow: hidden;
    z-index: 5;
}

section.k__onde-comprar-content {
    float: left;
    width: 100%;
    position: absolute;
}

.k__onde-comprar-menu {
    height: 100%;
    padding-bottom: 100%;
    overflow-x: hidden;
}

.k__onde-comprar-menu h1 {
    font-size: 24px;
    text-transform: uppercase;
}

.k__onde-comprar-menu h1 span {
    margin-top: 13px;
    font-weight: 300;
    font-size: 18px;
    text-transform: initial;
    display: block;
}


.k__onde-comprar-search,
.k__onde-comprar-search input {
    /* max-width: 22vw; */
    width: 100%;
    border-radius: 100px;
    border: none;
    position: relative;
}

.k__onde-comprar-search {
    margin: 0 0 20px;
    height: auto;
}


.k__onde-comprar-search input {
    height: 40px;
    margin: 0 0 32px;
    background: #fff;
    padding: 0 30px 0 15px;
    position: relative;
}

.k__onde-comprar-search input::placeholder {
    font-size: calc(0.4vw + 60%);
}

.k__onde-comprar-search .k__onde-comprar-search-icon {
    background-position: 0 -1579px;
    height: 20px;
    width: 20px;
    background-image: url(icons-s679911c6c9.png);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    position: absolute;
    display: block;
    right: 10px;
    top: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.k__onde-comprar-menu {
    padding: 0 2vw 100% 1.7vw;
    overflow-y: auto;
    min-height: 80vh;
}

.k__onde-comprar-menu>.search-info {
    display: none;
    overflow: auto;
    line-height: 1.5;
    border: 1px solid #212121;
    border-width: 1px 0 1px 0;
    width: 32vw;
    padding: 10px 1vw 10px 6vw;
    margin-left: -5.6vw;
}

.k__onde-comprar-menu #result {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 550px;
    max-width: 30vw;
    margin: 0 calc(-7.5vw + 21.2%);
}



.k__onde-comprar-menu #result .store {
    cursor: pointer;
    border: 1px solid #212121;
    border-width: 1px 0 1px 0;
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0 2vw 10px 1.7vw;
    overflow: hidden;
    height: 65px;
    max-height: initial;
    transition: 1s;
}

.k__onde-comprar-menu #result .store .store-accordion {
    transition: 1s;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
}


.k__onde-comprar-menu #result .store.active {
    background: linear-gradient(90.59deg, #FF5100 -0.28%, #FFB800 96.53%);
    transition: 1s;
    max-height: 500px;
    height: auto;
    overflow: auto;
}

.k__onde-comprar-menu #result .store.active .store-title {
    font-size: 14px;
    font-weight: 400;
}

.k__onde-comprar-menu #result .store .store-title .store-type {
    display: block;
    color: #8E8E8E;
    font-size: 13px;
    font-weight: 300;
}

.k__onde-comprar-menu #result .store.active .store-title .store-type {
    font-size: 13px;
    font-weight: 300;
}

.k__onde-comprar-menu #result .store.active .store-title .store-type {
    color: #ffffff;
    /* transition: 1s; */
}

.k__onde-comprar-menu #result .store.active .store-accordion {
    display: block;
    transition: 1s;
    font-size: 13px;
    font-weight: 300;
}


.k__onde-comprar-warning {
    position: absolute;
    height: 30px;
    line-height: 30px;
    bottom: 28px;
    right: 60px;
    border: 2px solid #FF5100;
    border-radius: 100px;
    color: #FF5100;
    background: #F4F4F4;
    font-weight: 300;
    font-size: 13px;
    padding: 0 25px;
    z-index: 5;
    cursor: pointer;
    display: block;
}

.k__onde-comprar-warning:before {
    content: "";
    display: inline-block;
    margin: -3px 14px -3px 0;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml, %3Csvg width='19' height='17' viewBox='0 0 19 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%5C/ %3Cpath d='M11.1925 1.83536C10.518 0.654977 8.91601 0.654977 8.2415 1.83536L1.07488 14.8196C0.821945 15.4098 1.24352 16 1.83371 16H17.6846C18.2748 16 18.6963 15.3255 18.4434 14.8196L11.1925 1.83536Z' stroke='%23FF5100' stroke-width='0.84' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%5C %3Cpath d='M9.75879 5.03927V11.7843' stroke='%23FF5100' stroke-width='0.84' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%5C %3Cpath d='M9.75946 13.8921C9.99228 13.8921 10.181 13.7034 10.181 13.4706C10.181 13.2378 9.99228 13.049 9.75946 13.049C9.52663 13.049 9.33789 13.2378 9.33789 13.4706C9.33789 13.7034 9.52663 13.8921 9.75946 13.8921Z' fill='%23979797'/%3E%5C %3C/svg%3E");
}

.store-title {
    font-size: 14px;
    font-weight: 300;
    color: #ea4e07;
    margin-bottom: 0;
}

.k__onde-comprar-menu #result .store.active .store-title {
    color: #fff;
}

.store-title .store-sub-title {
    font-size: 13px;
    color: #F4F4F4;
}

.store-not-found {
    display: none;
    font-family: Margem;
    margin: 20px auto;
    font-size: 13px;
    text-align: center;
    max-width: 293px;
}

.store-not-found svg {
    cursor: pointer;
}

.store-not-found p {
    font-weight: normal;
}

.store-not-found p strong {
    font-weight: 700;
}

.store-not-found svg {
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

.search-info>span {
    display: block;
    float: left;
}

.search-info .search-info-result {
    max-width: 130px;
    font-size: 13px;
    padding: 5px 0;
}

.search-info .search-info-result strong {
    font-weight: 600;
    display: block;
    margin-top: 3px;
}

.search-info>.search-info-num {
    /* width: 38%; */
    display: block;
    padding: 2px 10px;
    margin-top: 0;
    text-align: center;
    background: #FFB800;
    max-width: 110px;
    color: #000;
    font-weight: 300;
    margin-left: 4%;
    white-space: nowrap;
    float: right;
}

.see-in,
.search-info-geolocation {
    display: none;
}

.search-info-geolocation {
    font-size: 13px;
    /*     max-width: 34vw;
    margin: 0 calc(-8vw + 20%); */
    max-width: 118%;
    margin: 0 -8%;
    padding: 10px 2vw;
    border: 1px solid #212121;
    border-width: 1px 0 1px 0;
    overflow: hidden;
}

.search-info-geolocation .text,
.search-info-geolocation .see-in.mobile {
    font-size: 13px;
}

.search-info-geolocation .text {
    float: left;
    line-height: 1.3;
}

.search-info-geolocation .see-in.mobile {
    float: right;
    color: #FF5100;
    height: auto;
    min-width: 90px;
}

.search-info-geolocation .see-in.mobile>svg {
    float: left;
    width: 25px;
    height: 25px;
}

.search-info-geolocation .see-in.mobile>span {
    width: 55px;
    display: block;
    margin-left: auto;
    margin-right: 0;
}

.store-contact {
    display: block;
    color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='18' viewBox='0 0 13 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.08453 10.6699C3.08453 10.6699 3.08453 10.74 3.15277 10.74C3.221 10.74 3.15277 10.8101 3.221 10.8101C5.74573 15.3644 10.1128 18.0269 10.9316 16.6256L11.9552 14.6637C12.0234 14.5236 12.0234 14.3134 11.8869 14.1032C11.7505 13.8229 11.614 13.8229 10.8634 13.3325C10.454 13.0522 10.0446 12.7019 9.77164 12.4917C9.49869 12.2815 9.15751 12.2114 8.88457 12.4216L8.47516 12.842C8.33868 12.9821 8.13398 13.0522 7.92927 13.0522C7.31515 13.0522 6.15514 11.3706 5.54102 10.3196C5.33631 10.0393 5.19984 9.75906 5.1316 9.61892C5.06337 9.47879 4.9269 9.19852 4.79043 8.91825C4.24454 7.79719 3.42571 5.97545 3.69865 5.41491C3.76689 5.20471 3.9716 5.13465 4.1763 5.06458L4.72219 4.92445C4.99513 4.85438 5.19984 4.50404 5.1316 4.15371C5.06337 3.80337 4.99513 3.24284 4.9269 2.75237C4.85866 1.8415 4.9269 1.70137 4.79043 1.42111C4.65395 1.21091 4.51748 1.14084 4.31277 1.07077L2.12923 1.0007C0.491571 0.930636 0.491572 6.11558 3.08453 10.6699Z' stroke='%23ffffff' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 0 center;
    padding-left: 22px;
    height: 20px;
    line-height: 23px;
    vertical-align: middle;
}

.store-info {
    display: none;
    margin: 20px 0;
}

.store-info>* {
    display: inline-block;
    min-width: 100px;
    margin-right: 30px;
    color: #ea4e07;
}

.store-call,
.store-see-in-map,
.store-details {
    background-repeat: no-repeat;
    background-position: 0 center;
    padding-left: 22px;
    height: 20px;
    line-height: 23px;
    vertical-align: middle;
}

.store-call {
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='18' viewBox='0 0 13 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.08453 10.6699C3.08453 10.6699 3.08453 10.74 3.15277 10.74C3.221 10.74 3.15277 10.8101 3.221 10.8101C5.74573 15.3644 10.1128 18.0269 10.9316 16.6256L11.9552 14.6637C12.0234 14.5236 12.0234 14.3134 11.8869 14.1032C11.7505 13.8229 11.614 13.8229 10.8634 13.3325C10.454 13.0522 10.0446 12.7019 9.77164 12.4917C9.49869 12.2815 9.15751 12.2114 8.88457 12.4216L8.47516 12.842C8.33868 12.9821 8.13398 13.0522 7.92927 13.0522C7.31515 13.0522 6.15514 11.3706 5.54102 10.3196C5.33631 10.0393 5.19984 9.75906 5.1316 9.61892C5.06337 9.47879 4.9269 9.19852 4.79043 8.91825C4.24454 7.79719 3.42571 5.97545 3.69865 5.41491C3.76689 5.20471 3.9716 5.13465 4.1763 5.06458L4.72219 4.92445C4.99513 4.85438 5.19984 4.50404 5.1316 4.15371C5.06337 3.80337 4.99513 3.24284 4.9269 2.75237C4.85866 1.8415 4.9269 1.70137 4.79043 1.42111C4.65395 1.21091 4.51748 1.14084 4.31277 1.07077L2.12923 1.0007C0.491571 0.930636 0.491572 6.11558 3.08453 10.6699Z' stroke='%23FF5100' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
}

.store-see-in-map {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='20' viewBox='0 0 18 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.54327 8.23914C9.43172 8.23914 10.152 7.5189 10.152 6.63044C10.152 5.74198 9.43172 5.02174 8.54327 5.02174C7.65481 5.02174 6.93457 5.74198 6.93457 6.63044C6.93457 7.5189 7.65481 8.23914 8.54327 8.23914Z' stroke='%23FF5100' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M2.91304 13.0652L0.5 19.5L4.52174 17.8913L8.54348 19.5L12.5652 17.8913L16.587 19.5L14.1739 13.0652' stroke='%23FF5100' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.174 6.63043C14.174 9.76739 8.54352 16.2826 8.54352 16.2826C8.54352 16.2826 2.91309 9.76739 2.91309 6.63043C2.91309 3.49348 5.40656 1 8.54352 1C11.6805 1 14.174 3.49348 14.174 6.63043Z' stroke='%23FF5100' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.store-details {
    /*background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='info' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 192 512' class='svg-inline--fa fa-info fa-w-6 fa-2x' width='5'%3E%3Cpath fill='%23FF5100' d='M20 424.229h20V279.771H20c-11.046 0-20-8.954-20-20V212c0-11.046 8.954-20 20-20h112c11.046 0 20 8.954 20 20v212.229h20c11.046 0 20 8.954 20 20V492c0 11.046-8.954 20-20 20H20c-11.046 0-20-8.954-20-20v-47.771c0-11.046 8.954-20 20-20zM96 0C56.235 0 24 32.235 24 72s32.235 72 72 72 72-32.235 72-72S135.764 0 96 0z' class=''%3E%3C/path%3E%3C/svg%3E");*/
    /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 300 300' style='enable-background:new 0 0 300 300;width: 5px;' xml:space='preserve' fill='transparent' stroke='%23FF5100' stroke-width='8' width='24'%3E%3Cg%3E%3Cpath d='M164.998,70c-11.026,0-19.996,8.976-19.996,20.009c0,11.023,8.97,19.991,19.996,19.991 c11.026,0,19.996-8.968,19.996-19.991C184.994,78.976,176.024,70,164.998,70z'/%3E%3Cpath d='M165,140c-8.284,0-15,6.716-15,15v90c0,8.284,6.716,15,15,15c8.284,0,15-6.716,15-15v-90C180,146.716,173.284,140,165,140z '/%3E%3C/g%3E%3C/svg%3E");*/
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' enable-background='new 0 0 512 512' height='16px' id='Layer_1' version='1.1' viewBox='0 0 512 512' width='16px' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M257.338,166.245c16.297,0,29.52-13.223,29.52-29.52c0-16.317-13.223-29.501-29.52-29.501 c-16.298,0-29.52,13.185-29.52,29.501C227.818,153.022,241.04,166.245,257.338,166.245z' fill='%23FF5100'/%3E%3Cpolygon fill='%23FF5100' points='277.383,205.605 277.383,195.265 277.383,185.925 218.343,185.925 218.343,205.605 238.023,205.605 238.023,372.885 218.343,372.885 218.343,392.565 297.063,392.565 297.063,372.885 277.383,372.885 '/%3E%3Cpath d='M256.108,9.65c-135.857,0-246,110.143-246,246c0,135.877,110.143,246,246,246 c135.857,0,246-110.123,246-246C502.108,119.793,391.966,9.65,256.108,9.65z M256.108,481.97 c-124.797,0-226.32-101.533-226.32-226.32S131.312,29.33,256.108,29.33c124.797,0,226.32,101.533,226.32,226.32 S380.905,481.97,256.108,481.97z' fill='%23FF5100'/%3E%3C/g%3E%3C/svg%3E");
}

.go-back-container {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background: linear-gradient(90.59deg, #FF5100 -0.28%, #FFB800 96.53%);
    padding: 25px 20px 20px 20px;
    min-height: 40px;
    max-height: 90px;
    overflow: auto;
    font-size: 14px;
    vertical-align: top;
}


.go-back-container .go-back {
    float: left;
}

.go-back-container .go-back:before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid #fff;
    border-width: 0 0 1px 1px;
    margin: 0 5px 0 0;
    padding: 0;
    transform: rotate(45deg);
}

.go-back-container .store-name {
    float: right;
    overflow: hidden;
    max-width: 210px;
    vertical-align: middle;
}

.onde-comprar .gm-style-iw-d .store-title {
    margin-top: 0;
}

.onde-comprar .gm-style-iw-d .store-address {
    margin: 5px 0;
}

.onde-comprar .store-see-in-map .store-see-in-map {
    display: none;
}


#screen__user-geolocation .search-info,
#screen__not-found .search-info {
    display: none;
}

#screen__user-geolocation .search-info-geolocation {
    display: block;
}

#screen__store-details .search-info-geolocation,
#screen__search-result .search-info-geolocation {
    display: none;
}

.search-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/*Mobile*/
@media screen and (max-width: 768px) {

    .onde-comprar .lds-ripple {
        position: fixed;
        right: 0;
        left: 0;
        top: 40%;
    }

    .k__onde-comprar {
        margin-top: 85px;
    }
    

    section.k__onde-comprar-bar {
        width: 100%;
        float: left;
        height: auto;
        position: relative;
        padding: 0;
        color: #000;
        background: #fff;
        z-index: 10;
    }

    .k__onde-comprar-menu>.search-info {
        width: 100vw;
        padding: 15px 20px 15px 20px;
        margin-left: 5vw;
        float: left;
        border-width: 0;
        background: #F8F8F8;
        color: #000;
        font-weight: 300;
        font-size: 13px;
    }   

    .k__onde-comprar-search {
        max-width: unset;
        margin: 0 0 20px;
        padding: 0;
    }

    .k__onde-comprar-search input {
        max-width: unset;
        margin: 0 0 20px;
        padding: 0 40px 0 20px;
    }


    .k__onde-comprar-menu {
        min-height: 100vh;
        padding: 0 20px;
    }

    .k__onde-comprar-menu-wrapper {
        background: linear-gradient(45deg, #000, #444);
        max-width: 100vw;
        margin: 0 calc(-50vw + 50%);
        padding: 10px 3vw 0;
        overflow: hidden;
        border: none;
    }

    .k__onde-comprar-menu h1 {
        color: #fff;
        margin: 0.60em 0 0.50em;
    }

    .k__onde-comprar-search {
        margin-bottom: 0;
    }

    .k__onde-comprar-search input::placeholder {
        color: #fff;
    }

    .k__onde-comprar-search .k__onde-comprar-search-icon {
        right: 15px;
    }

    section.k__onde-comprar-content {
        margin-top: 146px;
        float: none;
        width: 100%;
        z-index: 5;
        height: 63vh;
        max-height: 700px;
    }

    .k__onde-comprar-menu #result {
        max-height: 62vh;
        max-width: 100vw;
        margin: 0 calc(-50vw + 50%);
    }


    .k__onde-comprar-menu #result .store {
        position: relative;
        height: auto;
        margin: -1px 0 0 0;
        border: 1px solid #f4f4f4;
        border-width: 1px 0 1px 0;
        padding: 3vw 20px 3vw 20px;
    }

    .k__onde-comprar-menu #result .store:after {
        content: "";
        position: absolute;
        top: 30px;
        right: 10px;
        display: inline-block;
        width: 12px;
        height: 12px;
        border: 1px solid #ff5100;
        border-width: 0 0 1px 1px;
        margin: 0 5px 0 0;
        padding: 0;
        transform: rotate(-45deg);
        transition: 0.3s;
    }

    .k__onde-comprar-menu #result .store .store-address {
        padding-right: 35px;
    }

    .k__onde-comprar-menu #result .store.active:after {
        transform: rotate(-225deg);
        transition: 0.1s;
    }

    .k__onde-comprar-menu #result .store.active {
        background: none;
    }

    .store-contact {
        display: none;
    }

    .store-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        margin: 10px 0 0;
    }

    .store-info>* {
        display: inline-block;
        min-width: 50px;
/*         max-width: 33.33vw; */
        min-height: auto;
        line-height: 1;
        padding: 15px 10px 25px 20px;
        margin: 0;
    }

    .store-title .store-type {
        display: block;
        width: 100%;
        color: #8E8E8E;
        font-weight: 300;
        font-size: 11px;
    }

    .k__onde-comprar-menu #result .store.active .store-title .store-type,
    .store-title .store-type {
        color: #6D6D6D;
        font-size: 13px;
    }

    .k__onde-comprar-menu #result .store .store-title,
    .k__onde-comprar-menu #result .store.active .store-title {
        font-weight: 300;
    }

    .k__onde-comprar-menu #result .store.active .store-title {
        color: #ea4e07;
    }

    .search-info {
        display: none;
    }

    .search-info,
    .search-info-geolocation {
        max-width: 100vw;
        margin: 0 calc(-50vw + 50%);
        padding: 20px 4vw 15px;
        background: #F8F8F8;
        clear: both;
        overflow: hidden;
    }

    .search-info {
        padding: 10px 4vw 10px;
    }


    .search-info-geolocation {
        max-width: 100vw;
        margin: -1px calc(-50vw + 50%);
        padding: 20px 3vw 15px 5vw;
        z-index: 50;
        position: relative;
    }


    .see-in.mobile {
        display: block;
        float: right;
        height: 42px;
        max-width: 110px;
        max-height: 140px;
        font-size: 12px;
    }

    .see-in.mobile svg {
        display: block;
        margin-right: 7px;
        height: 40px;
        /* padding-bottom: 100%; */
        float: left;
    }

    .see-in.mobile span {
        color: #FF5100;
        font-weight: 300;
        font-size: 13px;
        line-height: 1;
        width: 100px;
    }

    .search-info>.search-info-num {
        margin-top: 0;
        float: right;
        margin-left: 0%;
    }

    .search-info .search-info-result {
        display: inline-block;
        width: auto;
    }

    .k__onde-comprar-menu #result .store:before {
        display: block;
        content: '';
        background-position: 0 -421px;
        background-image: url(icons-s679911c6c9.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 10px;
        width: 19px;
        margin-left: 10px;
        transition: all .4s;
        position: absolute;
        z-index: 20;
        right: 0px;
    }

    .k__onde-comprar-menu #result .store.active:before {
        transform: roate(180deg);
    }

    .store-not-found {
        margin-top: 6vh;
    }

    .go-back-container .store-name {
        max-width: 150px;
    }

    .go-back-container {
        padding: 17px 20px 16px 20px;
    }

    .k__onde-comprar-warning{
        display: none;
        position: fixed;
        bottom: 40px;
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
        margin: 0 auto;
        left: 0;
        right: 0;
        max-width: 279px;
        font-size: 13px;
        z-index: 9999;
        height: 32px;
        line-height: 28px;
        padding: 0 30px 0 25px;
    }

    .k__onde-comprar-warning:before {
        margin: -4px 12px -4px 0;
    }




    /* Telas */
    #screen__default .k__onde-comprar-warning {
        display: block;
    }

    #screen__see-in-map #result,
    #screen__see-in-map .search-info-geolocation,
    #screen__see-in-map .k__onde-comprar-menu-wrapper {
        display: none;
    }

    #screen__see-in-map .k__onde-comprar-content {
        margin-top: 0;
    }

    #screen__see-in-map .k__onde-comprar-menu {
        min-height: auto;
    }

    #screen__see-in-map .go-back-container {
        display: flex;
    }

    #screen__see-all-in-map .k__onde-comprar-menu {
        min-height: auto;
    }

    #screen__see-all-in-map section.k__onde-comprar-content {
        margin-top: 0;
    }

    #screen__see-all-in-map .go-back-container {
        display: flex;
    }

    #screen__see-all-in-map .k__onde-comprar-bar,
    #screen__see-all-in-map #result {
        display: none;
    }

    .search-info-frist-screen-mobile {
        z-index: 50;
    }

    #screen__not-found .store-not-found{
        display: none;
        height: 100vh;
    }

    #screen__not-found .k__onde-comprar-menu {
        min-height: auto;
    }

    #screen__not-found .k__onde-comprar-warning {
        font-size: 0;
        padding: 0;
    }  

    #screen__not-found .k__onde-comprar-warning:before {
        margin: 0;
        padding: 2px 4px;
        background-repeat: no-repeat;
        background-position: center;
    }

    #screen__store-details section.k__onde-comprar-bar {
        background: rgba(0, 0, 0, 0.9);
        backdrop-filter: blur(3px);
    }

    #screen__store-details .store-contact {
        display: block;
        color: #FF5100;
        background-image: url("data:image/svg+xml,%3Csvg width='13' height='18' viewBox='0 0 13 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.08453 10.6699C3.08453 10.6699 3.08453 10.74 3.15277 10.74C3.221 10.74 3.15277 10.8101 3.221 10.8101C5.74573 15.3644 10.1128 18.0269 10.9316 16.6256L11.9552 14.6637C12.0234 14.5236 12.0234 14.3134 11.8869 14.1032C11.7505 13.8229 11.614 13.8229 10.8634 13.3325C10.454 13.0522 10.0446 12.7019 9.77164 12.4917C9.49869 12.2815 9.15751 12.2114 8.88457 12.4216L8.47516 12.842C8.33868 12.9821 8.13398 13.0522 7.92927 13.0522C7.31515 13.0522 6.15514 11.3706 5.54102 10.3196C5.33631 10.0393 5.19984 9.75906 5.1316 9.61892C5.06337 9.47879 4.9269 9.19852 4.79043 8.91825C4.24454 7.79719 3.42571 5.97545 3.69865 5.41491C3.76689 5.20471 3.9716 5.13465 4.1763 5.06458L4.72219 4.92445C4.99513 4.85438 5.19984 4.50404 5.1316 4.15371C5.06337 3.80337 4.99513 3.24284 4.9269 2.75237C4.85866 1.8415 4.9269 1.70137 4.79043 1.42111C4.65395 1.21091 4.51748 1.14084 4.31277 1.07077L2.12923 1.0007C0.491571 0.930636 0.491572 6.11558 3.08453 10.6699Z' stroke='%23FF5100' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
    }

    #screen__store-details .store-info,
    #screen__store-details .k__onde-comprar-menu-wrapper {
        display: none;
    }

    #screen__store-details .k__onde-comprar-menu #result .store.active {
        max-height: 500px;
        height: auto;
        background: none;
        transition: all .3s ease 1s;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .store-call {
        color: #FF5100;
        background-image: url("data:image/svg+xml,%3Csvg width='13' height='18' viewBox='0 0 13 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.08453 10.6699C3.08453 10.6699 3.08453 10.74 3.15277 10.74C3.221 10.74 3.15277 10.8101 3.221 10.8101C5.74573 15.3644 10.1128 18.0269 10.9316 16.6256L11.9552 14.6637C12.0234 14.5236 12.0234 14.3134 11.8869 14.1032C11.7505 13.8229 11.614 13.8229 10.8634 13.3325C10.454 13.0522 10.0446 12.7019 9.77164 12.4917C9.49869 12.2815 9.15751 12.2114 8.88457 12.4216L8.47516 12.842C8.33868 12.9821 8.13398 13.0522 7.92927 13.0522C7.31515 13.0522 6.15514 11.3706 5.54102 10.3196C5.33631 10.0393 5.19984 9.75906 5.1316 9.61892C5.06337 9.47879 4.9269 9.19852 4.79043 8.91825C4.24454 7.79719 3.42571 5.97545 3.69865 5.41491C3.76689 5.20471 3.9716 5.13465 4.1763 5.06458L4.72219 4.92445C4.99513 4.85438 5.19984 4.50404 5.1316 4.15371C5.06337 3.80337 4.99513 3.24284 4.9269 2.75237C4.85866 1.8415 4.9269 1.70137 4.79043 1.42111C4.65395 1.21091 4.51748 1.14084 4.31277 1.07077L2.12923 1.0007C0.491571 0.930636 0.491572 6.11558 3.08453 10.6699Z' stroke='%23FF5100' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
    }

    #screen__store-details .go-back-container {
        display: flex; 
        color: #fff;
        background: #1a0c00;
    }

    #screen__store-details .go-back {
        color: #FF5100;
    }

    #screen__store-details .go-back:before {
        border-color: #FF5100;
    }

    #screen__store-details .store-accordion .store-address {
        color: #6D6D6D;
    }

    #screen__store-details .k__onde-comprar-menu #result .store.active .store-title {
        color: #fff;
    }

    #screen__store-details .k__onde-comprar-menu #result .store {
        border: 1px solid #212121;
    }

    #screen__store-details .search-info,
    #screen__search-result .search-info {
        display: flex;
        border: none;
    }

    #screen__search-result .k__onde-comprar-search {
        margin-bottom: 0;
    }

    #action__go-back {
        display: none;
    }
}



@media screen and (min-width: 769px) and (max-width: 1024px) {
    section.k__onde-comprar-bar {
        width: 34%;
    }

    .k__onde-comprar-menu #result {
        max-width: 34vw;
        margin: 0 calc(-9.5vw + 25%);
    }


    .search-info>.search-info-num {
        font-size: calc(0.5vw + 60%);
    }

    section.k__onde-comprar-content {
        width: 100%;
    }

    .search-info>.search-info-num {
        margin-left: 2%;
    }
}