<footer class="x-footer">
	<div class="x-center">
		<nav class="x-footer__nav">
			<ul>
				<li><a href="/institucional/quem-somos">Sobre a Kenner</a></li>
				<li><a href="/institucional/selo-de-garantia">Selo de Garantia</a></li>
				<li><a href="/institucional/nossas-lojas">Nossas Lojas</a></li>
				<li><a href="/catalogos">Catálogos</a></li>
				<li><a href="/institucional/fale-conosco">Fale Conosco</a></li>
				<li><a href="/institucional/politicas-de-uso">Políticas do Site</a></li>
			</ul>
		</nav>
		<div class="x-footer__contents">
			<div class="x-footer__item">
				<ul>
					<li>Selos de Segurança</li>
					<li><vtex.cmc:svgSeloSeguranca /></li>
					<li><vtex.cmc:svgSeloClearSale /></li>
				</ul>
				<ul style="flex-wrap: wrap;">
					<li style="display: block;width: 100%;">Formas de Pagamento</li>
					<li><vtex.cmc:svgSeloVisa /></li>
					<li><vtex.cmc:svgSeloMasterCard /></li>
					<li><vtex.cmc:svgSeloAmericanExpress /></li>
					<li><vtex.cmc:svgSeloBoleto /></li>
					<li>
                        <img src="https://s3-sa-east-1.amazonaws.com/cdn.kenner.com.br/site/images/icons/icon-hipercard.png" style="
                            width: 44px;
                            background: #fbfbfc;
                            padding: 4px;
                            border-radius: 3px;
                        " />
                    </li>
				</ul>
				
				<a href="http://portal.kenner.com.br/sistemacomercial/login_cliente.aspx" target="_blank" class="btn-revendedor">Área do revendedor</a>
				<a href="/institucional/revendedor" target="_blank" class="btn-revendedor" style="margin-left: 15px;">Seja um revendedor</a>
				
				<p>Tess Industria e Comercio Ltda.</p>
				<p>Av. Teixeira de Castro, 564 / 574 C/ Av Postal, 22 – Bonsucesso, Rio de Janeiro/RJ CEP: 21040-115 - CNPJ: 09.130.858/0004-98</p>
			
		        <img src="https://s3-sa-east-1.amazonaws.com/cdn.kenner.com.br/site/images/selo-garantia.svg" style="max-width: 90px;position: absolute;top: 30px;right: 20px;" />
			    
			</div>
		</div>
	</div>
	<div class="x-divisor">
		<span></span>
		<span></span>
		<span></span>
	</div>
	
	<!--JS Common versão 2018 do site-->
    <script type="text/javascript" src="/arquivos/kenner-common2018-v1.min.js"></script>
</footer>