<footer>
    <section class="k__footer--newsLetter">
        <div class="k__footer--newsLetter-content">
            <h5>ASSINE NOSSA NEWSLETTER</h5>
            <input id="newsletterLoading" type="hidden" class="newsletter-loading" value="Processando..." />
            <input id="newsletterSuccess" type="hidden" class="newsletter-success" value="Tudo certo!" />
            <input id="newsletterSuccess2" type="hidden" class="newsletter-success2"
                value="A partir de agora você vai ficar cada vez mais por dentro do mundo Kenner." />
            <input id="newsletterError" type="hidden" class="newsletter-error"
                value="Encontramos um erro no cadastro de suas informações. Por favor, tente novamente!" />
            <div class="k__footer--newsLetter-input">
                <span></span>
                <input type="text" id="newsEmail" placeholder="Digite seu Email" />
            </div>
            <div class="k__footer--newsLetter--send">
                OK
            </div>
            <div class="k__footer--newsLetter-result">

            </div>
        </div>
    </section>
    <section class="k__footer--social">
        <div class="k__foote--social--item facebook"><a href="https://www.facebook.com/SandaliasKenner"
                target="_blank"></a></div>
        <div class="k__foote--social--item instagram"><a href="https://www.instagram.com/sandaliaskenner/"
                target="_blank"></a></div>
        <div class="k__foote--social--item youtube"><a href="https://www.youtube.com/user/sandaliaskenner"
                target="_blank"></a></div>
        <div class="k__foote--social--item linkedin"><a href="https://www.linkedin.com/company/sandaliaskenner/about/"
                target="_blank"></a></div>
    </section>
    <section class="k__footer--apresentation k__container">
        <nav class="k__footer--nav">
            <vtex.cmc:navigatorMenuFooter />
        </nav>
        <div class="k__footer--information">
            <div class="k__footer--information--line">
                <a href="/selo-de-garantia" target="_blank" class="k__footer--selo"></a>
                <div class="k__footer--securite">
                    <h4>SELOS DE SEGURANÇA</h4>
                    <ul>
                        <li class="k__footer--securite-item">
                            <vtex.cmc:SeloEbit />
                        </li>
                        <li class="k__footer--securite-item" style="width: 65px;">
                            <vtex.cmc:SeloClearSale />
                        </li>
                        <li class="k__footer--securite-item">
                            <vtex.cmc:svgSeloSeguranca />
                        </li>
                    </ul>
                </div>
                <div class="k__footer--payments">
                    <h4>FORMAS DE PAGAMENTO</h4>
                    <div class="k__footer--payments--item"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="k__footer--copyright k__container">
        <div class="k__footer--copyright--text">
            <p>Tess Industria e Comercio Ltda.</p>
            <br />
            <p>Av. Teixeira de Castro, 564 / 574 C/ Av Postal, 22 – Bonsucesso, Rio de Janeiro/RJ CEP: 21040-115 - CNPJ:
                09.130.858/0004-98</p>
        </div>
    </section>
</footer>