<div class="kenner__content--item">
    <h3>7. SERVIÇO DE ATENDIMENTO</h3>
    <div class="kenner__content--item-body">
        <p>O Serviço de Atendimento está disponível através do Fale Conosco aqui em nosso site ou pelo telefone (21) 3613-1788, em dias úteis de segunda à sexta-feira, das 9:00 às 18:00 horas.</p>
    </div>
</div>