<div class="kenner__content--item">


<h3>9.SELO DE GARANTIA KENNER</h3>

<div class="kenner__content--item-body">
   <p>A garantia das sandálias Kenner apenas serão oferecidas para as sandálias adquiridas nas Lojas Redley da cidade do Rio de Janeiro/RJ, Nova Iguaçu/RJ, São Gonçalo/RJ, São João de Meriti/RJ, Armação de Búzios/RJ, Niterói/RJ, Loja Oyster localizada na Rua Prof. Alfredo Gonçalves de Figueira, 100 Loja, Centro, Nilópolis, Lojas Terry, localizadas na Praça Carlos Gianelli, s/n Loja 105, Alcântara, São Gonçalo e Rua Viúva Dantas, 100, Loja 102, Campo Grande, Rio de Janeiro, nos quiosques da KENNER localizados no Shopping Tijuca, Barra Shopping e Botafogo Praia Shopping, no site REDLEY ONLINE, e-commerce KENNER e lojas revendedoras autorizadas (a partir de 26 de novembro de 2018).</p>

   <h4>1. Elegibilidade para o Selo de Garantia Kenner</h4>

  O Selo de Garantia Kenner cobrirá eventuais defeitos que se refiram a aspectos técnicos de fabricação e/ou dos materiais envolvidos. Excluem-se da garantia avarias decorrentes de uso inadequado, exposição a intempéries da natureza contraindicados pela KENNER, limpeza realizada com materiais contraindicados e acidentes de qualquer natureza com agentes químicos que possam causar danos aos materiais da sandália.

  Após adquirir o produto da marca KENNER em uma das lojas acima mencionadas (excetuando e-commerce KENNER e quiosques), o consumidor deverá se cadastrar no site http://selodegarantia.kenner.com.br, e encaminhando a Nota Fiscal de Compra ou Cupom de Presente.

  O consumidor deverá cadastrar as seguintes informações: CPF, nome, endereço completo e telefone, modelo, tamanho e código recebido no cartão da garantia e/ou a partir do dia 26 de novembro de 2018, o envio da Nota Fiscal ou Cupom de Presente, e, por último, o consumidor deverá responder à um questionário sobre o Selo de Garantia. Após o seu cadastro, a KENNER confirmará, em até sete dias, que o consumidor está apto ou não a usufruir da garantia concedida.

  A partir de 26 de novembro de 2018, caso o consumidor receba, no momento da compra, cartão da loja multimarca contendo o código alfanumérico, deverá proceder com as instruções do Item 6 deste regulamento.

  Caso não receba o cartão do Selo de Garantia contendo o código alfanumérico, deverá solicitar cadastro via site http://selodegarantia.kenner.com.br, mediante envio de Nota Fiscal ou Cupom de Presente e aceite no conteúdo deste regulamento.

  Após a aquisição da sandália KENNER, o consumidor deverá adotar o procedimento acima descrito para se cadastrar, seguindo as orientações solicitadas pelo site. O consumidor terá o prazo máximo de 30 (trinta) dias após a compra para cadastrar seu código do Selo de Garantia Kenner no site da KENNER para que possa ser elegível à garantia estendida.

  Nas compras realizadas através do e-commerce da KENNER e quiosques, o consumidor já estará automaticamente cadastrado no Selo de Garantia Kenner. Após a realização da compra, a KENNER enviará ao consumidor um e-mail informando seu cadastro no Selo de Garantia e encaminhando um link para responder um importante questionário sobre o Selo de Garantia, que nos ajudará a melhorar cada vez mais nosso serviço.

  O consumidor declara que as informações prestadas no momento do cadastro são corretas e verídicas, DE MODO QUE NÃO SERÁ POSSÍVEL SUA POSTERIOR ALTERAÇÃO. Caso seja constatado tentativa de fraude, a KENNER se resguarda no direito de não reconhecer a garantia concedida.

  <h4>2. Política de troca por defeito fabril</h4>

  A garantia é válida por 12 (doze) meses a contar da data de aquisição do produto.

  Estão cobertos pela garantia eventuais defeitos que se refiram a aspectos técnicos de fabricação e/ou dos materiais envolvidos. Excluem-se da garantia avarias decorrentes de uso inadequado, exposição a intempéries da natureza contraindicados pela KENNER, limpeza realizada com materiais contraindicados e acidentes de qualquer natureza com agentes químicos que possam causar danos aos materiais da sandália.

  A empresa se resguarda no direito de negar a troca do produto no caso em que ficar constatado a má-utilização do produto pelo Consumidor, conforme parágrafo acima.

  O(s) produto(s) serão analisados pelo nosso Departamento de Controle de Qualidade. O resultado da análise deverá ser concluído no prazo de 10 (dez) dias úteis contados do recebimento do Produto.

  A presente política de troca está em conformidade com legislação vigente, em especial da Lei Federal nº 8.078 de 1990, o Código de Defesa do Consumidor.

  <h4>3. Condições para análise de produtos</h4>

  Somente serão aceitos para troca os produtos que estiverem em conformidade com as seguintes condições:

  ⇒ Produtos sem uso inadequado, exposição a intempéries da natureza contraindicados pela KENNER, limpeza realizada com materiais contraindicados e acidentes de qualquer natureza com agentes químicos.

  ⇒ Cadastrado no site http://selodegarantia.kenner.com.br, com Nota Fiscal ou Cupom de Presente validados pela Central de Relacionamento com Consumidor ou através do código alfanumérico presente no cartão do Selo de Garantia entregue ao consumidor no momento da compra das sandálias, e cumprindo todas as informações solicitadas no momento de seu cadastro.

  <h4>4. Procedimentos para Análise por Defeito</h4>

     <p>Até 90 (noventa) dias após a aquisição (comprovada via Nota Fiscal ou Cupom de Presente) da sandália, o consumidor poderá optar por ir diretamente a uma das Lojas Redley, Terry, Oyster e Quiosques Kenner localizadas nos endereços informados acima e solicitar a análise da sandália.

    <p>Caso opte por realizar o pedido de análise da sandália na loja física da Redley, nas lojas Oyster e Terry, Quiosques da Kenner localizados no Shopping Tijuca, Barra Shopping e Botafogo Praia Shopping, o consumidor deverá levar a sandália defeituosa e a Nota Fiscal recebida no produto ou por e-mail ou informar o CPF, o processo de troca deverá ser inteiramente efetuado na loja escolhida, seguindo o procedimento padrão de troca em loja física.

    <p>A partir do 91º dia após a compra, o consumidor deverá entrar em contato diretamente com a KENNER através do Fale Conosco e solicitar a análise para a nossa Central de Relacionamento com Consumidor, enviando 3 (três) fotos nítidas da sandália reclamada para que seja feita uma análise.

     <h5>4.1 DA ANÁLISE EM LOJA FÍSICA REDLEY</h5>

     <p>Caso opte por realizar o pedido de análise da sandália, em até 90 dias da data da compra comprovada via Nota Fiscal ou Cupom de Presente, na Loja Física da Redley, o consumidor deverá levar a sandália defeituosa e a Nota Fiscal recebida no produto ou por e-mail, o processo de troca deverá ser inteiramente efetuado na loja escolhida, seguindo o procedimento padrão de troca em loja física. Caso o consumidor não possua a Nota Fiscal, será necessária a utilização do número do CPF.

    <p>Os consumidores que adquiriram as sandálias no Redley Online poderão realizar o pedido de análise nas Lojas Físicas da Redley nas cidades do Rio de Janeiro/RJ, Nova Iguaçu/RJ, São Gonçalo/RJ, São João de Meriti/RJ, Armação de Búzios/RJ, Niterói/RJ, nos endereços informados em www.redley.com.br/lojas.

     <h5>4.2 DA ANÁLISE ATRAVÉS DO REDLEY ONLINE</h5>

    <p>O cliente também poderá solicitar a análise da sandália através do Redley Online, por meio do e-mail dac@redley.com.br.</p>

  <p>A Redley disponibilizará um código de postagem para que a sandália defeituosa seja encaminhada para a análise de qualidade a fim de se verificar o defeito fabril. Junto com o Produto deverá ser enviado o DANFE (Documento Auxiliar da Nota Fiscal Eletrônica) originalmente remetido junto com a mercadoria, que deverá conter em seu verso as seguintes informações: (i) o nome completo e CPF do consumidor, (ii) o endereço completo do consumidor, (iii) o número do pedido, (iv) o número do protocolo fornecido por nossa Central de Atendimento no ato da comunicação da intenção de troca, (v) o nome e o código do(s) Produto(s), (vi) motivo da troca.</p>

  <p>Caso a troca da sandália não seja aprovada pelo controle de qualidade, o consumidor que queira ter a sandália de volta, deverá arcar com as custas do envio do retorno, a Redley retornará o produto e a retirada no ECT (“CORREIOS”) ficará condicionada ao pagamento do frete de retorno.</p>

  <p>Caso a análise do produto seja deferida, o consumidor poderá optar pelo recebimento do valor do pedido ou de vale-compra no site Redley correspondente ao valor da sandália adquirida.</p>

    <h5>4.3	DA ANÁLISE PELA KENNER</h5>

 <p>Em até 90 dias da compra (comprovada via nota fiscal ou cupom de presente), caso opte por realizar o pedido de análise da sandália nos Quiosques da Kenner localizados no Shopping Tijuca, Barra Shopping e Botafogo Praia Shopping, o consumidor deverá levar a sandália defeituosa e a Nota Fiscal recebida no produto ou por e-mail, o processo de análise deverá ser inteiramente efetuado na loja escolhida, seguindo o procedimento padrão de análise em loja física.</p>

  <p>A partir do 91º dia da compra (comprovada via nota fiscal ou cupom de presente), caso o consumidor opte por entrar em contato diretamente com a Kenner através do Fale Conosco e solicitar a análise para a nossa Central de Relacionamento, deverá encaminhar 3 (três) fotos nítidas da sandália reclamada para que seja feita uma análise.</p>

   <p>Caso não seja possível realizar a análise por meio de fotos, a Central de Relacionamento com Consumidor Kenner entrará em contato. Neste caso, a empresa de coleta de mercadorias recolherá o(s) produto(s) a ser(em) analisados(s) no endereço informado pelo consumidor. O valor desta coleta e do frete de devolução ficará a cargo da KENNER.</p>

  <p>A KENNER disponibilizará um código de postagem para que a sandália reclamada seja encaminhada para a análise do departamento de Controle de Qualidade a fim de se verificar existência de defeito fabril. Junto com o produto, deverá ser enviada a Nota Fiscal ou o DANFE (Documento Auxiliar da Nota Fiscal Eletrônica) ou cupom de presente, originalmente remetido junto com a mercadoria.</p>

  <p>A análise do produto poderá ser indeferida. Neste caso, o cliente que desejar a sandália de volta, deverá arcar com as custas do envio do retorno do produto. A KENNER enviará o produto na modalidade “a cobrar”, modalidade esta que o cliente deve pagar para retirar a correspondência.</p>

  <p>A análise do produto poderá ser indeferida. Neste caso, o consumidor que desejar a sandália de volta, deverá arcar com as custas do envio do retorno do produto. A KENNER enviará o produto na modalidade “a cobrar”, modalidade esta que o consumidor deve pagar para retirar a correspondência.</p>

   <strong>Se a análise for deferida:</strong>

  <p>O cliente receberá por e-mail seu “VALE TROCA”, referente ao valor(es) do(s) item(s) analisado(s), para ser utilizado em nosso site KENNER. O mesmo tem validade de até 01 (um) ano, está atrelado ao CPF do titular da compra que o originou e deve ser inserido no campo “VALE TROCA” na tela de pagamento do pedido. Este procedimento é exclusivo para as compras realizadas em nosso site KENNER.</p>

  <h4>5. DA ANÁLISE DEFERIDA</h4>

  <p>Após a realização do envio da nova sandália, a mesma também estará coberta pela garantia pelo prazo restante do prazo da sandália original. Caso a nova sandália apresente algum defeito fabril, o consumidor deverá utilizar o mesmo código que fora enviado na compra da primeira sandália e observar o procedimento previsto no item 4.</p>

  <h4>6. SOLICITE SEU SELO DE GARANTIA</h4>

  <p>Caso o consumidor tenha adquirido sua KENNER em lojas multimarcas, deverá entrar no site http://selodegarantia.kenner.com.br, informando o código alfanumérico entregue pela loja multimarca e/ou encaminhar a nota fiscal da compra ou documento de comprovação para análise da KENNER. Caso o consumidor não possua o código alfanumérico, se faz obrigatório o envio da Nota Fiscal ou Cupom de Presente.</p>

  <p>Caso verificada a elegibilidade do consumidor ao Selo de Garantia, através das obrigatoriedades descritas no item 3, a KENNER encaminhará um e-mail ao consumidor, em até 7 (sete) dias, e-mail confirmando seu cadastro no Selo de Garantia da KENNER.</p>
    </div>
</div>